PORT=5000
MONGODB_URI=mongodb://localhost:27017/onematch
ACCESS_TOKEN_SECRET=your_super_secret_access_key
REFRESH_TOKEN_SECRET=your_super_secret_refresh_key

# Integrations
CLOUDINARY_URL=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
